*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #2D6A4F;
    text-align: center;
}
h1{
 color: #ffff;
}
.container{
    height: 70vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

.game{
   height: 60vmin; 
   width: 60vmin;
   display:flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   gap: 1.5vmin;
}

.box{
    height: 18vh;
    width: 18vh;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    font-size: 8vmin;
    color:#081C15;
    background-color: #D8F3DC;
}
#reset{
    padding: 1rem;
    font-size: 1rem;
    background-color: #1B4332;
    border-radius: 1.5rem;
    color: #ffff;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3) ;
    border: none;
    
}