body {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(243, 231, 233);
    margin: 0;
    padding: 0;
    text-align: center;
}
.container {
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;
}
h1 {
    font-size: 36px;
    color: #bb2b2b;
   
}
p {
    
    font-size: 18px;
    color: #0a7f8f;
    margin-bottom: 20px;
}
.button {
    display: inline-block;
    background-color: #0c56e0; /* Old-style blue color */
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
    border: 2px solid #023447; /* Light blue border */
    border-radius: 0px;
    transition: background-color 0.3s;
    box-shadow: 2px 2px 1px rgba(0,0,0,0.3); /* Dark shadow */
}
.button:hover {
    background-color: #005cbf; /* Darker shade on hover */
}